<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817966239788-d52l9mqiqbitjb4plg2qjook6t1l1j4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817966239788-d52l9mqiqbitjb4plg2qjook6t1l1j4n</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jky7__CDwg4URDh8byMf8M1pK45Xqm4</string>
	<key>GCM_SENDER_ID</key>
	<string>817966239788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rowan.iMessenger</string>
	<key>PROJECT_ID</key>
	<string>imessenger-f1d02</string>
	<key>STORAGE_BUCKET</key>
	<string>imessenger-f1d02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817966239788:ios:db237bdfa625dc6b1a8189</string>
	<key>DATABASE_URL</key>
	<string>https://imessenger-f1d02.firebaseio.com</string>
</dict>
</plist>